@import '../../globals.scss';

.subgoal-modal-container {
  display: flex;
  flex-direction: column;
  max-height: inherit;
}

.subgoal-modal-container > header {
  flex: 0;
}

.subgoal-modal-container > .columns {
  flex: 1;
}

.subgoal-modal-container .column-main {
  overflow: auto;
}

header {
  display: flex;
  align-items: flex-start;
}

h3 {
  flex: 1;
  margin: 0;
  font-size: 1.3em;
  line-height: 1.3em;

  margin-top: $padding * 0.85;
  margin-left: $padding * 0.85;
  margin-bottom: $padding * 0.85;
  padding: $padding * 0.15;
}

.button-close {
  flex: 0;

  padding: $padding;
}

.columns {
  display: flex;

  padding: 0 $padding;
  padding-bottom: $padding;

  overflow: auto;
}

.columns .column-main,
.columns .column-aside {
  flex-basis: 100%;
}

.columns .column-main {
  flex: 13;
}

.columns .column-aside {
  flex: 6;
  margin-left: $padding;
}

@media screen and (max-width: $breakSmall) {
  .columns,
  .columns .column-main,
  .columns .column-aside {
    display: block;
  }

  .columns .column-aside {
    margin-top: $paddingSmall;
    margin-left: 0;
  }
}

.button-side {
  display: block;
  padding: $paddingSmall;
  margin-bottom: $paddingSmall / 2;
  
  border: 1px solid #CCC;
  border-radius: 4px;

  text-decoration: none;
  color: black;
  font-size: 1em;
  
  width: 100%;
  box-sizing: border-box;

  &:hover {
    background: #EEE;
  }
}

h4 {
  margin: 0;
  margin-bottom: $paddingSmall;
}

p {
  padding: 0;
  margin: 0;
  margin-bottom: $paddingSmall;

  color: #666;
}

.editable {
  border-radius: 5px;

  &:hover {
    background: #DDD;
  }

  &:focus {
    outline: none;
    background: #CCC;
  }
}

.progress-indicator {
  margin-right: 0.5em;

  &.fa-check {
    color: map-get($bgColors, green);
  }

  &.fa-times {
    color: map-get($bgColors, salmon);
  }
}

.daily-controls {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: $paddingSmall;
  grid-row-gap: $paddingSmall;

  align-items: center;
}

.daily-controls label {
  text-align: right;
  color: #666;
}

.daily-controls select,
.daily-controls input {
  padding: $paddingSmall * 0.5;
  border: none;
  border-bottom: 2px solid #CCC;
  background: #EEE;
  font-family: unset;

  &:focus {
    outline: none;
    border-bottom: 2px solid map-get($bgColors, primary);
  }
}

.progress-bar {
  display: flex;
  align-items: center;
}

.progress-bar__bar {
  position: relative;

  height: 0.5em;
  background: #EEE;
  border-radius: 0.5em;

  overflow: hidden;
  flex: 1;

  .fill {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: map-get($bgColors, primary);
  }
}

.progress-bar__label {
  margin-left: 0.5em;
}

.boxed-text {
  padding: 0.2em 0.6em;
  background: map-get($bgColors, primary);
  color: white;
  font-weight: bold;
  border-radius: 4px;
  
  display: inline-block;
}