@import '../../_globals.scss';

// Make the list a little down from the nav bar
#body > .subgoal-list {
	margin: $padding 0;
}

.subgoal-list {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;

	// @include nested-list(0);
}

.subgoal-modal {
	position: absolute;
	top: 20%;
	left: 50%;
	width: 80vw;
	max-width: 800px;

	margin: 0 auto;

	// Center
	transform: translateX(-50%);

	background: white;
	box-shadow: 0 0.2em 0.3em rgba(0, 0, 0, 0.3);
	border-radius: 0.4em;

	&:focus {
		outline: none;
	}

	@media screen and (max-width: $breakSmall) {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: auto;
		max-width: none;
		transform: none;
		margin: 0;
		
		box-shadow: none;
		border-radius: 0;
		border: none;
	}
}

@keyframes slide-up {
	0% { transform: translateX(-50%) translateY(50%); }
	100% { transform: translateX(-50%) translateY(0%); }
}

@keyframes slide-up-mobile {
	0% { transform: translateY(20%); }
	100% { transform: translateY(0%); }
}

.ReactModal__Overlay--after-open .subgoal-modal {
	animation: slide-up 0.2s ease-in-out;

	@media screen and (max-width: $breakSmall) {
		animation: slide-up-mobile 0.2s ease-in-out;
	}
}

.ReactModal__Overlay {
	z-index: 201;
}