@import '../_globals.scss';

* {
	box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Segoe UI", Arial, sans-serif;
  color: $fgColor;

  background-color: $bgColor;  
}

.float-right {
	float: right;
}

.page-width {
	max-width: $pageWidth;
	margin: 0 auto;
}

.page-margins {
	padding: 0 $padding;
}

@each $name, $color in $bgColors {
	.bg-#{$name} {
		background-color: #{$color};
	}
}

#body {
	position: relative;
}

/*
	Buttons
*/
button {
	all: unset;

	// Button reset
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 0;
	font-size: 1em;
}

.button-complete {
	$size: 35px;

	// Remove link-formatting etc.
	text-decoration: none;
	text-align: center;
	text-indent: 0;
	color: white;

	// Grey (until hovered over)
	background: map-get($bgColors, grey);

	// Circular icon
	display: block;
	width: $size;
	height: $size;
	line-height: $size;
	border-radius: 50%;

	// Center on op-left corner
	position: absolute;
	top: -$size / 2;
	left: -$size / 2;	

	// Fade in on item hover
	opacity: 0;
	transition: opacity 0.4s ease-in-out;

	// Display over item
	// TODO: standardize z-indexes
	z-index: 200;

	// Expanding background
	&:before {
		transform: scale(0.01);

		content: '';
		position: absolute;
		background: map-get($bgColors, green);

		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		border-radius: 50%;

		z-index: -1;
		transition: transform 0.2s ease-in-out;
	}

	&:hover:before {
		transform: scale(1);

		// Stop mobile devices from showing the green centre if we're 'hovered': it
		// looks like it's still completed if you tap to uncomplete it (because this
		// leaves it in a 'hover' state)
		@media (hover: none) {
			transform: scale(0);
		}
	}

}

*:hover > .button-complete {
	opacity: 1;
}

.button-overflow {
	float: right;
	color: map-get($bgColors, darkGrey);

	text-indent: 0;
	width: 0.6em;
}

.button-add {
	float: right;
	color: map-get($bgColors, darkGrey);
}

/* Miscellaneous */
*[contentEditable="true"]:empty:before {
	content: attr(placeholder);
	display: block;
	cursor: text;
	color: map-get($bgColors, grey);
}

/* Modals */
.modal-overlay {
	background: rgba(150, 150, 150, 0.4);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

.ReactModal__Overlay {
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}

.ReactModal__Overlay--after-open{
	opacity: 1;
}

.ReactModal__Overlay--before-close{
	opacity: 0;
}