@import '../../_globals.scss';

.nav-bar {
	display: block;
	height: $navBarHeight;
	color: white;
	transition: background 0.3s ease-in;
}

.nav-bar > div {
	display: flex;
	flex-direction: row;
	line-height: $navBarHeight;
}

.nav-bar h1 {
	margin: 0;
	padding: 0;

	flex: 1;

	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

@each $color in $lightBgColors {
	.nav-bar.bg-#{$color} {
		color: #333;
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
	}
}

.nav-bar .back-button {
	text-decoration: none;
	font-size: 1.5em;

	margin-right: 12px;
}