// Sizings
$padding: 30px;
$paddingSmall: 15px;
$pageWidth: 900px;
$navBarHeight: 70px;

// Responsize sizings
$breakSmall: 768px;

// Colors
$bgColor: #EEE;
$fgColor: #333;

$bgColors: (
	salmon: salmon,
	aquamarine: aquamarine,
	purple: #7365e8,
	primary: #7365e8,
	lightGrey: #DDD,
	grey: #CCC,
	darkGrey: #666,
	green: #6fe6a4
);

// Generate an evenly hued collection of colors
$colorCount: 32;
@for $i from 0 to $colorCount {
	$bgColors: map-merge($bgColors, ('color-#{$i}': hsl($i / $colorCount * 256, 73%, 67%)));
}