@import '../../_globals.scss';

.goal-list {
	@media screen and (max-width: $breakSmall) {
		flex-direction: column;
	}

	list-style: none;
	margin: 0;
	padding: 0;

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	user-select: none;

	// Ensure that we don't end up with
	// X X X
	// X   X
	// (i.e. the expected behaviour of space-between alone).
	// We create a shrinkable, imaginary element at the end of the rest of the items,
	// which has the same basis as other items, but also grows to fill space.
	&:after {
		content: '';
		flex: auto;
		flex-shrink: 1;
		flex-basis: 30%;
		max-width: 30%;
	}
}

.goal-list .goal-list__item {
	@media screen and (max-width: $breakSmall) {
		width: 100%;
		margin-right: 0;
		margin-bottom: $padding;
		height: auto;
	}

	flex-basis: 30%;
	height: 160px;
	border-radius: 6px;
	margin-bottom: $padding;

	box-sizing: border-box;
	padding: $paddingSmall;

	cursor: default;

	display: flex;
	flex-direction: column;

	&:hover {
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	}
}

.goal-list .goal-list__item > span {
	flex: 1;
	margin-bottom: $paddingSmall;
}

.goal-list .goal-list__item h3 {
	margin: 0;
	margin-bottom: $paddingSmall;
	padding: 0;
	font-size: 1.4em;
	font-weight: normal;

	flex: 0;
	flex-basis: auto;
}

.goal-list__item .button-group {
	text-align: right;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;

	@media screen and (max-width: $breakSmall) {
		opacity: 1;
	}
}

.goal-list__item:hover .button-group {
	opacity: 1;	
}

.goal-list__item .button-group button {
	padding: 0.4em;
	color: #333;
}

.goal-list__item.dummy {
	border: 2px solid map-get($bgColors, darkGrey);

	i {
		font-size: 0.7em;
		position: relative;
		top: -0.2em;
	}

	h3 {
		margin-bottom: 0;
	}

	&:hover {
		border: 2px solid map-get($bgColors, darkGrey);
	}
}